<% content_for :title, "New friend" %>

<h1>New friend</h1>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Back to friends", friends_path, class: 'link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
</div>
